body{
  background: url(pineapple2.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  font-family: monospace;
}

h1{
  color: #ffffff;

  text-align: center;
}

p{
  color: #ffffff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}
